!!! 5
%html(lang='en')
  %head
    %meta{:charset => "UTF-8"}
    %meta{:"http-equiv" => "X-UA-Compatible", :content => "IE=Edge"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title
      #{site.title} - #{(page.url == "/") ? "Home" : (page.title)}
    %link(href="#{site.semantic_ui_css_url}#{site.minified}.css" rel="stylesheet" media="screen")
    %link(href="/stylesheets/styles#{site.minified}.css?t=#{Time.now.to_i}" rel="stylesheet" media="screen")
    %script(src="#{site.jquery_js_url}#{site.minified}.js")
    %script(src="#{site.semantic_ui_js_url}#{site.minified}.js")
    // Unfortunately, matchHeight doesn't follow the same convention as the other minified files
    %script(src="#{site.match_height_js_url}#{site.minified ? '-min' : ''}.js")
    %link{ :rel=>'alternate',  :type=>'application/atom+xml', :href=>"#{relative('/news/news.atom' )}" }

  %body.pushable
    .ui.vertical.menu.inverted.sidebar.left.print.hidden#mobile-menu
      %a.item{:href => "#{relative('/')}", :class=>"#{'selected' if page.is_home_page }", :title => 'Home'}
        %i.grid.icon.home
        Home
      %a.item{:href => "#{relative('/news')}", :class=>"#{'selected' if page.output_path.start_with?('/news') }"}
        %i.grid.icon.newspaper
        News
      %a.item{:href => "#{relative('/2.0')}", :class=>"#{'selected' if page.output_path.start_with?('/2.0') }"}
        %i.grid.icon.book
        %strong Bean Validation 2.0
      .item
        %i.grid.icon.archive
        Archives
        .menu
          %a.item{:href => "#{relative('/1.1')}", :class=>"#{'selected' if page.output_path.start_with?('/1.1') }"}
            %i.grid.icon.book
            Bean Validation 1.1
          %a.item{:href => "#{relative('/1.0')}", :class=>"#{'selected' if page.output_path.start_with?('/1.0') }"}
            %i.grid.icon.book
            Bean Validation 1.0
      %a.item{:href => "#{relative('/licensing')}", :class=>"#{'selected' if page.output_path.start_with?('/licensing') }"}
        %i.grid.icon.legal
        Licensing
      %a.item{:href => "#{relative('/contribute')}", :class=>"#{'selected' if page.output_path.start_with?('/contribute') }"}
        %i.grid.icon.users
        Contribute

    .pusher
      .mobile-menu-button-bar.mobile.only.print.hidden
        %a.item#mobile-menu-toggle
          %i.sidebar.icon
          Menu

      %header{:role => "banner"}
        .ui.container.banner
          .ui.stackable.menu.mobile.hidden.print.hidden#nav
            %a.item{:href => "#{relative('/')}", :class=>"#{'selected' if page.is_home_page }", :title => 'Home'}
              %img{:src => '/logo/logo-64.png', :alt => 'Bean Validation'}
            %a.item{:href => "#{relative('/news')}", :class=>"#{'selected' if page.output_path.start_with?('/news') }"} News
            %a.item{:href => "#{relative('/2.0')}", :class=>"#{'selected' if page.output_path.start_with?('/2.0') }"}
              %strong Bean Validation 2.0
            .ui.dropdown.item{:class=>"#{'selected' if page.output_path.start_with?('/1.1') || page.output_path.start_with?('/1.0') }"}
              Archives
              %i.dropdown.icon
              .menu
                %a.item{:href => "#{relative('/1.1')}", :class=>"#{'selected' if page.output_path.start_with?('/1.1') }"} Bean Validation 1.1
                %a.item{:href => "#{relative('/1.0')}", :class=>"#{'selected' if page.output_path.start_with?('/1.0') }"} Bean Validation 1.0
            %a.item{:href => "#{relative('/licensing')}", :class=>"#{'selected' if page.output_path.start_with?('/licensing') }"} Licensing
            %a.item{:href => "#{relative('/contribute')}", :class=>"#{'selected' if page.output_path.start_with?('/contribute') }"} Contribute

      ~ content

      %footer.print.hidden
        .ui.inverted.vertical.footer.segment
          .ui.container
            .ui.stackable.grid
              .eleven.wide.column.middle.aligned
                Copyright &copy; Red Hat, Inc.
              .five.wide.column.sponsor
                .logo
                  %a(href="https://www.redhat.com/")
                    %img{:src => "/images/redhat.png", :title => "Red Hat", :width => 150, :height => 48}

    - if site.enable_google_analytics
      = google_analytics_universal

    :javascript
      $(document).ready(function() {
        $('#mobile-menu').sidebar('setting', {
          transition: 'push'
        });
        $('#mobile-menu').sidebar('attach events', '#mobile-menu-toggle');

        $('.ui.menu .ui.dropdown').dropdown({ on: 'hover' });
      });
