%html
  %head
    %meta{:charset => "UTF-8"}
    %meta{:"http-equiv" => "X-UA-Compatible", :content => "IE=Edge"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title
      #{site.title} - #{(page.url == "/") ? "Home" : (page.title)}
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{relative("/stylesheets/screen.css")}", :media=>'screen, projection' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{relative("/stylesheets/print.css")}", :media=>'print' }
    /[if lt IE 8]
      %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{relative("/stylesheets/ie.css")}", :media=>'screen, projection' }
    %link{ :rel=>'alternate',  :type=>'application/atom+xml', :href=>"#{relative('/news/news.atom' )}" }
    %script{:src=>"//code.jquery.com/jquery-2.1.4.min.js"}
    %script{:src=>"/javascripts/patternfly.js"}
    %script{:src=>"/javascripts/bootstrap.js"}

  %body
    %header{:role => "banner"}
      %nav.navbar.navbar-default.navbar-pf{:role=>"navigation"}
        .navbar-header
          %button{:type=>"button", :class=>"navbar-toggle", :"data-toggle"=>"collapse", :"data-target"=>".navbar-collapse-1"}
            %span.sr-only Toggle Navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a{:class=>"navbar-brand", :id=>"logo", :title=>"Bean Validation", :href=>"#{relative('/')}"}
            Bean Validation
        .collapse.navbar-collapse.navbar-collapse-1
          %ul#meny-primary.nav.navbar-nav.navbar-primary.navbar-right
            %li.menu-item.menu-item-type-post_type.menu-item-object-page
              %a{:href=>"#{relative('/')}"} Home
            %li.menu-item.menu-item-type-post_type.menu-item-object-page
              %a{:href=>"#{relative('/news')}"} News
            %li.menu-item.menu-item-type-post_type.menu-item-object-page
              %a{:href=>"#{relative('/1.1')}"} Specification
            %li.menu-item.menu-item-type-post_type.menu-item-object-page
              %a{:href=>"#{relative('/1.1/tck')}"} TCK
            %li.menu-item.menu-item-type-post_type.menu-item-object-page
              %a{:href=>"#{relative('/1.1/ri')}"} RI
            %li.menu-item.menu-item-type-post_type.menu-item-object-page
              %a{:href=>"#{relative('/1.1/certified')}"} Certified
            %li.menu-item.menu-item-type-post_type.menu-item-object-page
              %a{:href=>"#{relative('/contribute')}"} Contribute
            %li.menu-item.menu-item-type-post_type.menu-item-object-page
              %a{:href=>"#{relative('/licensing')}"} Licensing

    ~ content


  %footer{:role=>"contentinfo", :class=>"container", :id=>"widget-footer"}
    %hr
    .row
      .widget.col-md-12.widget_text
        Copyright (c) Red Hat, Inc., Emmanuel Bernard
        %a{:href=>"http://redhat.com", :id=>"logo-redhat"} Red Hat

- if site.profile == production
  = google_analytics_universal
