---
layout: base
title: Home
is_home_page: true
---
.jumbotron
  .ui.container.text-center
    .logo
      %img(src="logo/logo-128.png" alt="Bean Validation" width="128" height="128")
    %h1 Bean Validation
    %h2 Constrain once, validate everywhere
    %div.text-center
      %a.ui.button.icon.right.labeled.green.big{:href=>"#{relative('/2.0/')}"}
        %i.icon.arrow.right
        Bean&nbsp;Validation&nbsp;2.0

.content-banner
  .ui.container
    %h2
      %span Latest news
      %small
        Stay up to date, subscribe to the&nbsp;
        %a{:href=>"/news/news.atom"}>< news feed
        \.
    .ui.grid.equal.height.three.column.news.stackable
      - for post in site.posts[0,3] do
        .column
          .ui.segment
            %h3
              %a{:href=>post.url}= post.title
            .date
              #{post.date.strftime( '%d %B %Y' )}
            %p
              #{summarize( html_to_text( post.content ), 30 )}
    .text-right
      %a.ui.button.icon.right.labeled{:href=>"#{relative('/news')}"}
        %i.icon.arrow.right
        More news...

.ui.container
  .content#content
    ~content

:javascript
  $(document).ready(function() {
    $('.news .ui.segment').matchHeight({ byRow: false });
  });
